body {
	text-align: center;
	color: black
}

/* Title */
.title {
	width: 56rem;
	height: 15rem;
	margin: 0 auto;
}

.title h2 {
	text-align: right;
}

/* Background images */
.main {
	background-image: url("../images/friends-back.jpg");
	background-size: cover;
}

.friends-centralperk,
.friends-back,
/*.quiz,
.quizCount,
.end,*/
.questions,
.answers,
.outro {
	display: none;
}

.main,
.quiz,
.end {
	height: 60rem;
	width: 100rem;
	margin: 0 auto;

}

.quizCount {
	width: 100rem;
	margin: 3rem;
	padding: 2rem;
	text-align: left;
}

.quizCount,
.end {
	color: white;
	font-weight: bold;
}

.questions,
.answers {
	background-color: white;
	opacity: 0.6;
	border-radius: 1%;
	height: 40rem;
	width: 70rem;
	margin: 0 auto;

}

.questionName, {
	height: 25rem;
	width: 70rem;
	padding: 3rem;
	text-align: left;
}

.result {
	height: 10rem;
}

.explanation {
	height: 15rem;
}

.result,
.explanation {
	width: 70rem;
	padding: 2rem;
	text-align: center;
}

.submit,
.nextQuestion {
	margin-top: 7rem;
	margin-right: 2rem;
	float: right;
}

.end {
	margin-top: 15rem;
}

.end h1 {
	font-size: 5rem;
}